@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Island Moments", cursive;
}

body {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}